/* ToDo:
  - Make into flexbox layout
    - Header, Main, Footer
    - Sections
    - Containers
    - El's
  - Colors
  - Remove wire-frame borders 
      - delete css classes 
      - delete html classes
  */
/* --- CSS RESET --- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto;
}

section {
  padding: 0 15%;
}

/* VARIOUS CONTAINER TYPES */

header,
footer,
section,
.container,
.text-display-box
{
  justify-content: center;
  align-items: center;
}

.text-display-box
{
  border-radius: 10px;
  width: 100%;
}

.plyr.current.score.text-display-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.container {
  width: 100%;
  padding: 10px;
}

/* Text-styling */
* {
  font-family: 'Roboto Mono', monospace;
}

/* --- FLEX LAYOUT --- */

/* Apply flex-direction: column; */
body,
header,
main,
footer,
section,
.container,
.text-display-box,
.btn {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-grow: 1;
}

body {
  min-height: 100vh;
}

/* Apply flex-direction: row; */
.wpn.btns.container,
.current.scores.container {
  flex-direction: row;
}

/* --- ELEMENT GROUPS --- */

/* Buttons */
.new-game.btns.container {
  padding: 5px;
}

.wpn.btns.container {
  padding:10px 20px;
  column-gap: 15%;
}

.btn {
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color:#FFFFFF;
  padding: 5px 10px;
  border-radius: 10px;
  flex-shrink: 0;
  background-color: #FF7F11;
}

.wpn.btn {
  width: 150px;
  height: 150px;
  flex-grow: 0;
}

/* Images in buttons */
.btn .img {
  width: 85px;
  height: 85px;
}

/* Message Display Boxes */
.msg.text-display-box {
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #8ed1c9;
  width: 100%;
  min-height: 70px;
  padding: 10px;
}

/* text-display-boxes */
.msg.txt {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
  color: white;
}

.title.txt {
  background-color: #8ed1c9;
  border-radius: 10px;
  padding: 0 5px;
  color: white;
  font-size:x-large;
}

.plyr.current.score.num {
  height: 15px;
  font-size: 2.8rem;
  color: #FF7F11;
}

.plyr.current.score.title {
  color: black;
  font-size: 2rem;
  border-bottom: 1px solid black;
}

div.current.score.text-display-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid #8ed1c9; */
}

/* --- AREAS IN PAGE --- */

/* Header */

header {
  flex-grow: 1;
  min-height: 50px;
  max-height: 10vh;
  color: white;
  background-color: #393E41;
}

/* --- Main --- */

main {
  flex-grow: 8;
  min-height: 40vh;
  max-height: 85vh;
  background-color: white;
}

/* --- Main > Start Section --- */

.new-game.btn {
  margin: 5px;
  max-height: 40px;
}

.new-game.btns.container {
  height: 10px;
}

section.start.sect {
  flex: 1 0 30vh;
}

/* --- Main > Gameplay Section --- */

section.gameplay.sect {
  flex: 1 0 30vh;
  align-content: stretch;
}

/* --- Main > Results Section --- */
section.results-sect {
  flex: 1 0 25vh;
}

/* --- Footer --- */

footer {
  flex-grow: 1;
  height: 50px;
  color: white;
  background-color: #393E41;
}

footer .container,
.container .attribution {
  align-items: center;
  justify-content: center;
  font-size:x-small;
}